body {
    background-color: #B6B6B4;
}

.topbar {
    background-color: #00203FFF;
    overflow:hidden;
}

.topbar a{
    float: left;
    color: white;
    text-align:center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
}

.fas {
    float: right;
    background-color: white;
    padding: 20px 20px;
    margin-right:200px
}

h1{
    color: white;
    text-align: center
}

.welcome {
    color: white;
    text-align: center;
    border-spacing:20px;
    border-bottom: 1px solid #000000;
}

h4 {
    color: white;
    text-align: center;
}

.overview{
    margin-top:40px;
    font-size: 24px;
}

.accotable {
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    min-width: 300px;
    border-spacing: 20px;
    border-bottom: 1px solid #000000;
}

.roomnumber{
    text-align:center;
    color:black;
}

.live{
    background-color: red;
}

.booked{
    background-color: orange;
}

.free{
    background-color: green
}

h5 {
    text-align: center;
    color: white;
    border-bottom: 1px solid #000000;
}

.editacco {
    margin-top: 40px;
    font-size: 24px;
}

.edittable {
    margin: 25px 0;
    font-size: 20px;
    border-bottom: 1px solid #000000;
}

#table-2 {
    background-color: white;
}

.edituser {
    margin-top: 40px;
    font-size: 24px;
}

.usertable {
    margin: 25px 0;
    font-size: 20px;
    border-bottom: 1px solid #000000;
}

#table-3 {
    background-color: white;
}

.reviewmana {
    margin-top: 40px;
    font-size: 24px;
}

#remove{
    background-color: red;
}

.review {
    margin: 25px 0;
    font-size: 20px;
    border-bottom: 1px solid #000000;
}

#table-4 {
    background-color: white;
}

#remove{
    background-color:red;
}