.container-fluid {
    cursor: pointer;
}

input[type=text], input[type=password] {
    padding: 15px;
    display: inline-block;
}

.btn {
    background-color: #ff5a5f;
    border-color: #ff5a5f;
}

.btn:hover {
    background-color: #ff5a5f;
}